* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #3a3a3a;
    background-color: beige;
    font-family: Courier;
    max-width: 800px;
    margin: 0 auto;
    gap: 20px;
}
main {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    grid-column: span 2;
}

h1 code{
    background-color: rgb(212, 212, 185);
    color: red;
    padding: 5px;
    border-radius: 10px;
}

section {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 0;
}
section :nth-child(1),
section :nth-child(2) {
    text-transform: uppercase;
    font-weight: bold;
}

.keys {
    background-color: rgb(212, 212, 185);
    padding: 10px 20px;    
    border-radius: 5px 0 0 5px;

}
.value {
    background-color: rgb(162, 162, 116);
    padding: 10px 20px;    
    border-radius: 0 5px 5px 0;
}