body {
  margin: 0;
}

#wrapper {
  box-sizing: border-box;
    padding: 1vh;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  gap: 1vh;
}

#button_start {
<<<<<<< Updated upstream:Kap 5/5.4.2/index.css
  grid-area: 6 / 6;
=======
  cursor: pointer;
  grid-column: 6;
  grid-row: 6;
>>>>>>> Stashed changes:Kap 5/5.4.6/index.css
}
#button_start:disabled {
  opacity: .3;
  cursor: default;
}