* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #3a3a3a;
    background-color: beige;
    font-family: Courier;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    margin: 0 auto;
    gap: 20px;
}

main h1 {
    text-align: center;
    grid-column: span 2;
}

form {
}

form h2 {
    text-align: center;
}

form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
}