body {
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

main {
    background-color: lightpink;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1vh;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    padding: 1vh;
}

img {
    max-height: 300px;
}